.bread-crumbs {
  background-color: $color_gray - #090909;
  padding: 0.75em;
  z-index: 2;
  a {
    color: $color_black;
    &:hover, &:focus, &:active, &:active:focus {
      color: $color_white - #222;
    }
  }
}
