.fixed-button {
  display: block;
  text-align: right !important;
}
.header-button {
  margin-top: -35px;
  margin-bottom: 2em;
}
.btn {
  border-width: 2px;
  outline: none !important;
  &:hover {
    box-shadow: 0 4px 10px rgba(0,0,0,0.22);
    transition: all .2s;
  }
}
.btn-primary {
  background-color: $color_warning;
  border-color: $color_warning;
  border-radius: 6px;
  margin-left: 6px;
  &:hover, &:focus, &:active, &:active:focus {
    background-color: $color-warning - #111;
    border-color: $color_warning - #111;
  }
}
.btn-secondary {
  background-color: $color_green;
  border-color: $color_green;
  border-radius: 6px;
  &:hover, &:focus, &:active {
    background-color: $color_green - #111;
    border-color: $color_green - #111;
  }
}
.btn-danger {
  background-color: $color_warning;
  border-color: $color_warning;
  &:hover, &:focus, &:active, &:active:focus {
    background-color: $color_warning - #111 !important;
  }
}
.btn-lg {
  padding: 10px 30px;
}
.btn-round {
  border-radius: 500px !important;
  box-shadow: 0 4px 10px rgba(4, 11, 7, 0.25);
  height: 70px;
  width: 70px;
  i {
    font-size: 26px;
    padding-top: 15px;
    text-align: center;
  }
}
.btn-secondary.btn-round {
  &:hover {
    background-color: $color_green - #111;
    color: $color_white !important;
  }
}
@media screen and (max-width: 767px) {
  .btn-round {
    height: 60px;
    width: 60px;
    i {
      font-size: 24px;
      padding-top: 11px;
    }
  }
  form {
    .btn-primary, .btn-secondary {
      border-radius: 6px !important;
      display: block;
      margin-left: 0;
      margin-bottom: 12px;
      width: 100%;
    }
    .btn-secondary {
      margin-left: 0 !important;
      margin-top: 12px;
    }
    .btn-primary {
      margin-bottom: 200px;
    }
  }
  .story-panel {
    .btn-md {
      display: block;
      margin-top: 8px;
    }
  }
}
