.panel-character {
  img {
    margin-bottom: 15px;
    width: 100%;
  }
}
.character-image {
  background-size: cover;
  background-position: center;
  border-radius: 500px;
  max-width: 100%;
  height: 300px;
  width: 300px;
}
