input.form-control, textarea.form-control, select.form-control {
  background-color: $color_white;
  box-shadow: 0 0 18px rgba(0,0,0,0.12);
  border-radius: 6px !important;
  font-weight: 400;
  font-size: 16px !important;
  transition: all .2s ease-in-out;
  &:focus {
    border: 1px solid $color_red;
  }
}
textarea {
  height: 150px !important;
}

.form-group .btn-secondary, .form-group .btn-primary {
  margin-top: 60px;
}

.navbar-default .form-group .btn-secondary {
  margin-top: 0;
}

@media screen and (max-width: 767px) {
  .form-group .btn-secondary {
    margin-top: 60px;
  }
  .form-group .btn-primary {
    margin-top: 0;
  }
}
