body {
  background-color: $color_white;
  color: #333;
  font-family: $font_family;
  .navbar-default {
    margin-bottom: 0;
  }
  /* BUTTONS */
  .btn-primary {
    background-color: $color_red;
    border-color: $color_red;
    border-radius: 0;
    transition: all .2s;
    &:hover, &:focus {
      background-color: $color_red - #222;
      border-color: $color_red - #222;
    }
  }
  /* FORMS */
  .form-control {
    border: none;
    border-radius: 0;
  }
  /* ALERTS */
  .alert {
    border-radius: 0;
    margin-bottom: 0;
  }
  .alert-info {
    background-color: $color_success;
    border-color: $color_success;
    color: $color_white;
  }
}
