body {
  background-color: $color_gray;
  color: #333;
  font-family: $font_family;
  font-size: 16px;
  font-weight: 400;
  a {
    color: $color_red;
    &:hover {
      color: $color_red - #222;
      text-decoration: none;
    }
  }
  .navbar-default {
    margin-bottom: 0;
  }
  .jumbotron {
    background: linear-gradient(transparentize($color_green, .3), transparentize($color_green, .5)), url('../images/background2.jpg');
    background-position: center;
    background-size: cover;
    color: $color_white;
    margin-bottom: 0;
    h1 {
      font-size: 2.75em;
      font-weight: 800;
      letter-spacing: 1.5px;
      text-transform: uppercase;
    }
  }
  /* BUTTONS */
  .btn-primary, .btn-secondary {
    color: $color_white;
    font-weight: 400;
    transition: all .2s;
    &:hover, &:focus {
      color: $color_white;
    }
  }
  /* FORMS */
  .form-control {
    border: none;
    border-radius: 0;
  }
  /* ALERTS */
  .alert {
    border-radius: 0;
    margin-bottom: 0;
    h4 {
      margin: 0;
      i {
        background-color: $color_white;
        border-radius: 50%;
        color: $color_success;
        font-size: 22px;
        font-weight: 600;
        margin-right: 10px;
        padding: 4px;
      }
    }
  }
  .alert-info {
    background-color: $color_success;
    border-color: $color_success;
    color: $color_white;
  }
  /* ICONS */
  .material-icons {
    display: inline-block;
    padding-bottom: 2px;
    vertical-align: middle;
  }
  .material-icons.md-18 { font-size: 18px; }
  .material-icons.md-24 { font-size: 24px; }
  .material-icons.md-36 { font-size: 36px; }
  .material-icons.md-48 { font-size: 48px; }

  /* MAIN */
  main {
    background-color: transparent;
  }

  /* HELPER CLASSES */
  .hidden {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  body {
    .jumbotron {
      h1 {
        font-size: 1.25em;
      }
    }
  }
}

/* HELPERS */
@media screen and (min-width: 767px) {
  .equal {
    display: -webkit-flex !important;
    display: flex !important;
  }
}
