.navbar-default {
  background-color: $color_white;
  box-shadow: 0 0 15px rgba(0,0,0,0.08);
  border: none;
  border-radius: 0;
  .navbar-toggle {
    border: none;
    border-radius: 0;
    margin-top: 12px;
    padding: 0;
    &:hover, &:active, &:focus {
      background-color: transparent;
    }
    .icon-bar {
      background-color: $color_black;
      height: 3px;
      margin-bottom: 5px;
      width: 27px;
    }
  }
  .navbar-nav {
    margin-left: 40px;
    li {
      a {
        color: $color_black;
        font-size: 16px;
        font-weight: 400;
        transition: all .2s;
        &:hover, &:focus {
          color: $color_green;
        }
      }
    }
  }
  .dropdown-menu {
    background-color: $color_white;
    li {
      a {
        padding: 12px 20px;
        &:hover {
          background-color: $color_gray;
        }
      }
    }
  }
  .navbar-form {
    margin: 0 0 0 40px;
    .btn-secondary {
      border-radius: 0 3px 3px 0;
      border-width: 2px;
      margin-left: -3px
    }
  }
  .form-control {
    background-color: $color_white - #111;
    border-radius: 6px 0 0 6px !important;
    border: 1px solid $color_white - #111;
    box-shadow: none;
    color: $color_white;
    font-size: 16px;
    font-weight: 300;
    margin-right: 0;
    padding: 23.5px;
    transition: all .2s;
  }
  .form-control:active, .form-control:focus {
    background-color: black;
  }
  .btn-secondary {
    margin-left: -2px;
    padding: 8.5px 13px;
    i {
      margin-top: 2px;
    }
  }
}
.navbar-header {
  padding: 2.5px 0 0 0 !important;
}
.navbar-default .navbar-brand {
  color: $color_white;
  img {
    width: 120px;
  }
  &:hover {
    color: $color_white - #111;
  }
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background-color: $color_green;
  color: $color_white;
}
.navbar-collapse {
  padding: 7px 0 5px 0 !important;
}
@media screen and (max-width: 767px) {
  .navbar-default {
    .navbar-brand {
      img {
        margin-top: -4px;
      }
    }
    .navbar-form {
      .form-control {
        border-radius: 6px !important;
        width: 100% !important;
      }
    }
    .navbar-nav {
      margin-left: 0px;
      .open {
        .dropdown-menu>li>a {
          color: $color_black;
        }
      }
    }
    .navbar-form {
      margin: 0px;
      .form-control {
        display: inline-block;
        width: 84%;
      }
    }
  }
  .navbar-nav .open .dropdown-menu>li>a {
    line-height: 35px;
  }
}
