.navbar-default {
  background-color: $color_black;
  border: none;
  border-radius: 0;
  .navbar-nav {
    margin-left: 40px;
    li {
      a {
        color: $color_white;
        font-size: 16px;
        font-weight: 400;
        transition: all .2s;
        &:hover, &:focus {
          color: $color_green;
        }
      }
    }
  }
  .dropdown-menu {
    background-color: $color_black;
    li {
      a {
        padding: 12px 20px;
        &:hover {
          background-color: $color_black + #111;
        }
      }
    }
  }
  .navbar-form {
    margin: 0 0 0 40px;
  }
  .form-control {
    background-color: $color_black + #111;
    color: $color_white;
    font-size: 16px;
    font-weight: 300;
    margin-right: 0;
    padding: 23.5px;
    transition: all .2s;
  }
  .form-control:active, .form-control:focus {
    background-color: black;
  }
  .btn-secondary {
    margin-left: -2px;
    padding: 8.5px 13px;
    i {
      margin-top: 2px;
    }
  }
}
.navbar-header {
  padding: 5.5px 0 0 0 !important;
}
.navbar-default .navbar-brand {
  color: $color_white;
  &:hover {
    color: $color_white - #111;
  }
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background-color: $color_green;
  color: $color_white;
}
.navbar-collapse {
  padding: 7px 0 5px 0 !important;
}
@media screen and (max-width: 767px) {
  .navbar-default {
    .navbar-nav {
      margin-left: 0px;
      .open {
        .dropdown-menu>li>a {
          color: $color_white;
        }
      }
    }
    .navbar-form {
      margin: 0px;
      .form-control {
        display: inline-block;
        width: 84%;
      }
    }
  }
}
