.navbar-default {
  background-color: $color_black;
  border: none;
  border-radius: 0;
  .navbar-nav {
    li {
      a {
        color: $color_white;
        &:hover, &:focus {
          color: $color_red;
        }
      }
    }
  }
  .dropdown-menu {
    background-color: $color_black;
    li {
      a {
        &:hover {
          background-color: $color_black + #111;
        }
      }
    }
  }
  .navbar-form {
    margin: 0 0 0 60px;
  }
  .form-control {
    background-color: $color_black + #111;
    color: $color_white;
    margin-right: 0;
    padding: 25px;
  }
  .form-control:active, .form-control:focus {
    background-color: black;
  }
  .btn-primary {
    margin-left: -2px;
    padding: 8.5px 13px;
    i {
      margin-top: 2px;
    }
  }
}
.navbar-header {
  padding: 5.5px 0 0 0 !important;
}
.navbar-default .navbar-brand {
  color: $color_white;
  &:hover {
    color: $color_white - #111;
  }
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background-color: $color_red;
  color: $color_white;
}
.navbar-collapse {
  padding: 7px 0 !important;
}
