.panel-default {
  background-color: $color_white;
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 30px rgba(0,12,45,0.15);
  .panel-heading, .panel-body, .panel-footer {
    background-color: $color_white;
    border: none;
  }
  .panel-heading {
    background-color: $color_white;
    border-radius: 6px 6px 0 0;
    color: $color_white;
    padding: 30px 30px 0 30px;
    text-transform: capitalize;
    text-align: center;
    h4 {
      color: $color_dark_gray;
      font-weight: bold;
      font-size: 20px;
      margin: 0 0 20px 0;
      text-align: left;
      text-transform: uppercase;
    }
    .kebab {
      background-color: transparent;
      border: none;
      color: $color_green;
      position: absolute;
      right: 30px;
      top: 27px;
      &:hover {
        i {
          color: $color_green - #222;
        }
      }
      &:active, &:focus {
        outline: none;
      }
    }
    .panel-heading-menu {
      background-color: transparentize($color_green, .05);
      border-radius: 0 0 6px 6px;
      top: 72px;
      padding: 0 0 5px 0;
      position: absolute;
      right: 15px;
      text-align: left;
      ul {
        margin: 0;
        padding: 0;
        li {
          list-style-type: none;
          a {
            color: $color_white;
            display: block;
            padding: 10px 50px 10px 20px;
            text-decoration: none;
            transition: all .2s;
            &:hover {
              background-color: $color_green - #111;
              color: $color_white;
            }
          }
        }
      }
    }
  }
  .panel-body {
    padding: 0;
    p {
      border-left: 0 solid $color_green;
      margin: 0px 30px 20px 30px;
      padding-left: 0;
      text-align: left;
    }
    h1 {
      font-size: 6em;
      margin: 0;
      padding: 15px;
    }
    h3 {
      font-size: 1.25em;
      padding: 5px 30px 0 30px;
    }
    h3:last-of-type {
      margin-bottom: 20px;
    }
    .panel-body-image {
      background-position: center;
      background-size: cover;
      height: 250px;
      margin-bottom: 20px;
    }
  }
  .panel-body-badges {
    padding: 0 30px;
  }
  .panel-footer {
    border-radius: 0 0 6px 6px;
    padding: 30px 30px;
    .btn-lg {
      display: block;
      border-radius: 6px;
    }
    .btn-secondary {
      background-color: $color_white;
      color: $color_green;
      &:hover, &:focus, &:active {
        background-color: $color_green - #222;
        border-color: $color_green - #222;
        color: $color_white !important;
      }
    }
  }
}
.story-panel {
  padding: 30px;
  margin-bottom: 50px;
  h3 {
    color: $color_green - #222;
    font-weight: bold;
    font-size: 20px;
    margin: 5px 0 10px 0;
    text-transform: uppercase;
  }
  h5 {
    font-size: 16px;
    font-style: italic;
  }
  p {
    border-left: 3px solid $color_green;
    padding-left: 20px;
    text-align: left;
  }
}

.media-small {
  display: inline;
  margin: 7px;
  .media-small-img {
    background-position: center;
    background-size: cover;
    border-radius: 500px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 65px;
    width: 65px;
  }
}
