.sidebar {
  background-color: $color_white;
  border-radius: 0;
  height: 74.2vh;
  margin-top: -67px;
  padding: 60px 30px 30px 40px;
  position: relative;
  z-index: 0;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      a {
        border-left: 3px solid $color_black + #111;
        color: $color_black;
        display: block;
        padding: 15px 30px;
        &:hover {
          background-color: $color_gray - #111;
        }
      }
      a.active-sidebar-nav {
        border-left: 3px solid $color_green;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .container-fluid {
    padding: 0 15px;
  }
  .sidebar {
    display: none;
  }
}
