@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

$font_family: 'Lato', sans-serif;

$color_black: #2d3238;
$color_white: #ffffff;
$color_green: #04b9C3;
$color_purple: #9068be;
$color_red: #2AD4A7;
$color_gray: #e1e8f0;
$color_dark_gray: #43434d;

$color_success: #4bb543;
$color_warning: #d33a3a;
