@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

$font_family: 'Lato', sans-serif;

$color_black: #2d3238;
$color_white: #ffffff;
$color_green: #5ec3af;
$color_purple: #9068be;
$color_red: #e62739;
$color_gray: #e1e8f0;

$color_success: #4bb543;
